
@{
    ViewData["Title"] = "Plan";
}
@if (ViewData["Message"] != null)
{
    if (ViewData["Message"].ToString() != "fail")
    {
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <i class="fa fa-check-circle check"></i>
            </div>
        </div>
    }
}
<div class="container mt-3">
    <form method="post">
        <div class="day-container mb-2">
            <div class="d-inline-block">
                <span class="r-header">Montag</span>
            </div>
            <div class="d-inline-block float-right w-50">
                <select class="w-100 form-control mb-2" name="location[]">
                    <option>Liederhalle</option>
                    <option>Bieg</option>
                    <option>Delphi</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                    <option>-</option>
                </select>
                <select class="w-100 form-control" name="location[]">
                    <option>-</option>
                    <option>Liederhalle</option>
                    <option>Bieg</option>
                    <option>Delphi</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                </select>
            </div>
        </div>
        <div class="day-container mb-2">
            <div class="d-inline-block">
                <span class="r-header">Dienstag</span>
            </div>
            <div class="d-inline-block float-right w-50">
                <select class="w-100 form-control mb-2" name="location[]">
                    <option>Bieg</option>
                    <option>Liederhalle</option>
                    <option>Delphi</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                    <option>-</option>
                </select>
                <select class="w-100 form-control" name="location[]">
                    <option>-</option>
                    <option>Liederhalle</option>
                    <option>Bieg</option>
                    <option>Delphi</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                </select>
            </div>
        </div>
        <div class="day-container mb-2">
            <div class="d-inline-block">
                <span class="r-header">Mittwoch</span>
            </div>
            <div class="d-inline-block float-right w-50">
                <select class="w-100 form-control mb-2" name="location[]">
                    <option>Leib und Seele</option>
                    <option>Bieg</option>
                    <option>Liederhalle</option>
                    <option>Delphi</option>
                    <option>La Boussola</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                    <option>-</option>
                </select>
                <select class="w-100 form-control" name="location[]">
                    <option>-</option>
                    <option>Liederhalle</option>
                    <option>Bieg</option>
                    <option>Delphi</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                </select>
            </div>
        </div>
        <div class="day-container mb-2">
            <div class="d-inline-block">
                <span class="r-header">Donnerstag</span>
            </div>
            <div class="d-inline-block float-right w-50">
                <select class="w-100 form-control mb-2" name="location[]">
                    <option>Delphi</option> 
                    <option>Liederhalle</option>
                    <option>Bieg</option>                    
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                    <option>-</option>
                </select>
                <select class="w-100 form-control" name="location[]">
                    <option>-</option>
                    <option>Liederhalle</option>
                    <option>Bieg</option>
                    <option>Delphi</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>Feasy</option>
                </select>
            </div>
        </div>
        <div class="day-container mb-2">
            <div class="d-inline-block">
                <span class="r-header">Freitag</span>
            </div>
            <div class="d-inline-block float-right w-50">
                <select class="w-100 form-control mb-2" name="location[]">
                    <option>Wilhelmshöhe</option>
                    <option>Delphi</option>
                    <option>Liederhalle</option>
                    <option>Bieg</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Feasy</option>
                    <option>-</option>
                </select>
                <select class="w-100 form-control" name="location[]">
                    <option>Feasy</option>
                    <option>Delphi</option>
                    <option>Liederhalle</option>
                    <option>Bieg</option>
                    <option>La Boussola</option>
                    <option>Leib und Seele</option>
                    <option>Wilhelmshöhe</option>
                    <option>-</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-orange w-100" />
    </form>
</div>
<script>
    $('#myModal').bind('click', function (event) {
        if (event.target != $('.modal-content')) {
            $('#myModal').delay(100).fadeOut(400)
        }
    })
</script>