@{
    ViewData["Title"] = "Permission";
}

<div class="container mt-3">
    <div>
        <input id="input-mail" type="text" class="form-control calc-input d-inline-block" />
        <button id="add" class="btn btn-orange">
            <i class="fa fa-plus-circle"></i>
        </button>
    </div>
    <div class="mt-3 calc-table table-height">
        <table class="table tb">
            <tbody id="table">
            </tbody>
        </table>
    </div>
</div>
<script>
$(function(){
    $("#add").click(function(){
        var data1 = $('#input-mail').val();
        if (data1 != "" && data1 != null) {
             $("#table").append('<tr><th scope="row"><span>' + data1 + '</span><button id="btn-del" class="btn btn-orange float-right"><i class="fa fa-minus-circle"></i></button></th></tr>');
        }    
    });

    $(document).on('click', '#btn-del', function(){ 
        $(this).parent().parent().remove();
    }); 
});

</script>