.calc-input{
    width: calc(100% - 47px) !important;
}

.table-height {
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: 1px solid #ccc;
}
tr:nth-child(even) {
    background-color: #dcdcdc;
}